<p-table #mydt [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
	[rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
	currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

	<ng-template pTemplate="caption">
		<div class="p-d-flex">
			<button pButton label="Clear Filters"  class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(mydt)
      "></button>
			<button pButton label="Set Filters" style="margin-left:10px"  class="p-button-outlined" icon="pi pi-filter-slash" (click)="set(dt2)
      "></button>

		</div>
	</ng-template>


	<ng-template pTemplate="header">
		<tr>
			<th>Name</th>
			<th>Country</th>
		</tr>

		<tr>
			<th>
				<p-columnFilter type="text" field="name"></p-columnFilter>
			</th>
			<th>
				<p-columnFilter type="text" field="country.name"></p-columnFilter>
			</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-customer>
		<tr>
			<td>
				<span class="image-text">{{customer.name}}</span>
			</td>
			<td>
				<span class="image-text">{{customer.country.name}}</span>
			</td>

		</tr>
	</ng-template>

	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="5">No customers found.</td>
		</tr>
	</ng-template>
</p-table>